.about-us {

}

.about-us__row {
    padding-top: 185px;
    padding-bottom: 178px;
}

.about-us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1007px;

    position: relative;

    
    &::before {
        z-index: -2;
        content: url("./../img/about-us/figure-left.png");
        position: absolute;
        top: -70px;
        left: -104px;
        width: 254px;
        height: 300px;
    }

    &::after {
        z-index: -2;
        content: url("./../img/about-us/figure-right.png");
        position: absolute;
        bottom: -86px;
        left: 195px;
        width: 254px;
        height: 300px;
    }
}

.about-us__img {
    position: relative;

    &::after {
        z-index: -1;
        content: "";
        width: 455px;
        height: 600px;

        position: absolute;
        top: -33px;
        left: 20px;

        border: 3px solid #80233a;
    }
}

.about-us__desc {
    max-width: 448px;
}

.about-us__title {
    margin-bottom: 26px;
}

.about-us__text {
    font-size: 18px;
    font-weight: 300;
    p:not(:last-child) {
        margin-bottom: 30px;
    }
}