.benefits {
    padding-top: 55px;
    padding-bottom: 57px;

    background: linear-gradient(
        180deg, 
        #EFCFDA 0%, 
        #ECB0C5 100%
        );
}

.benefits__row {
    max-width: 998px;
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.benefits__img {
    width: 55px;
    height: 55px;
    overflow: hidden;

    img {
        margin: auto;
    }
}

.benefits__text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #80233a;
}