.benefits {
    padding-top: 55px;
    padding-bottom: 57px;

    background: linear-gradient(
        180deg, 
        #EFCFDA 0%, 
        #ECB0C5 100%
        );
}

.benefits__row {
    max-width: 998px;
    padding-left: 86px;
    display: flex;
    justify-content: space-between;
}

.benefits__row > * {
    height: 100px;
}

.benefits__img {
    height: 66px;
    img {
        position: relative;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.benefits__text {
    height: 34px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #80233a;
}