.clients {
    padding-top: 58px;
    padding-bottom: 54px;
    background: linear-gradient(180deg, #EFCFDA 0%, #ECB0C5 100%);
}

.clients__row {
    text-align: center;
}

.clients__title {
    margin-bottom: 16px;
}

.clients__subtitle {
    margin-bottom: 60px;
}

.clients__slider {
}

.slider {
}
.slider__item {
}
.slider__controls {
}
.button-next {
}
.button-back {
}
.slider__pagination {
}
.slider__btn {
}