.elite-gift {
    position: relative;
    min-height: 500px;

    background-color: #ecb0c5;
    @include bgImage ('./../img/elite-gift/elite-bg.jpg');

    color: #fff;

    &::before {
        @extend %overlay;
    }
}

