.elite-gift {
    position: relative;
    min-height: 500px;

    background-color: #ecb0c5;
    @include bgImage ('./../img/elite-gift/elite-bg.jpg');

    color: #fff;
}

.elite-gift__slider {
    position: relative;
    height: 500px;
    
    &::before {
        z-index: 1;
        @extend %overlay;
    }
}

