.header {
}

.header__top {
    border-bottom: 1px solid #d8d8d8;
}

.header__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    column-gap: 39px;
    align-items: center;
}

.header__item:last-child {
    padding-right: 18px;
    position: relative;

    &::before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "2";
        right: 0;
        top: 5px;
        transform: translateY(-100%);

        width: 18px;
        height: 18px;
        border-radius: 50%;

        background-color: #72408a;
        color: #fff;

        text-align: center;

        font-size: 10px;
        font-weight: 500;
        line-height: normal;
    }
}

.header__nav {
    padding-left: 24px;
}
