.product {
    padding-top: 52px;
    padding-bottom: 120px;
}

.product__row {
    display: flex;
    
}

.product__content {
    flex-shrink: 0;
}

.product__slider {
    margin-right: 77px;
}

.product__desc {
}

.product__panel {
    display: flex;
    flex-direction: column;
}