.product {
    padding-top: 52px;
    padding-bottom: 120px;
}

.product__row {
    display: flex;
    
}

.product__content {
    flex-shrink: 0;
}

.product__slider {
    margin-right: 77px;
}

.product__desc {
}

.product__panel {
    display: flex;
    flex-direction: column;
}

.product__header {
    margin-bottom: 12px;
}

.product__price {
    margin-bottom: 19px;
}

.product__text {
    margin-bottom: 19px;
}

.product__read-more {
}

.product__value {
}
.product__total {
}
.product__buttons {
}
.product__avalable {
}
.product__additional {
}