.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 228px;
    height: 55px;
    background-color: #80233a;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    transition: all 0.2s ease-in;

    &:hover{
        background-color: #e36996;
        transform: scale(1.2);
    }
}

.button-nav {
    // display: none;
}

.button-light {
    display: inline-block;
    width: 183px;
    height: 45px;
    border: 1px solid #80233a;


    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    color: #80233a;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #80233a;
        color: #fff;
    }
}

.button-tab {
    width: 69px;
    height: 36px;
    border: 1px solid #ccc;
    
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #707070;

    transition: all 0.2s ease-in;

    &:hover {
        font-weight: 600;
        border: 1px solid #80233a;
        color: #80233a;
    }
}

.button-form-avalable {
    width: 327px;
    height: 45px;
    background-color: #80233a;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}

.button-control {
    width: 103px;
    height: 45px;
    
}

.button-nav {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
}

