.card {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    width: 255px;
    height: 336px;
}

.card__img {
    
}

.card__content {
}
.card__text {
}
.card__title {
}
.card__price {
}
.card__cart {
}