.nav {
    padding-top: 16px;
    padding-bottom: 19px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    font-size: 14px;
    font-weight: 500;

    &:not(:nth-last-child(-n + 3)) {
        position: relative;
        padding-right: 25px;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 17px;
            height: 17px;
            content: url("./../img/icons/arrow-down.svg");
        }
    }
}

.nav__link {
    color: #000
}