.slider {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    margin-bottom: 58px;
    font-size: 48px;
    font-weight: 500;
    line-height: 0.87; /* 87.838% */
    text-transform: uppercase;
    text-align: center;

    * + p {
        padding-top: 27px;
    }
}

.slider__button {
    margin-bottom: 60px;
}

.slider__pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider__pagination-item {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border-radius: 10.8px;
    background-color: rgba(255, 255, 255, 0.30);
}

.slider__pagination-item--active {
    background-color: #fff;
}