.slider-client {
  
}

.slider-client__item {
    padding-top: 51px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    width: 659px;
    height: 271px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    &::after {
        width: 57px;
        height: 37px;
        content: url("./../img/clients/figure.svg");
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}

.slider-client__content {
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    text-align: center;
}

.slider-client__title {
    margin-bottom: 10px;

    h4 {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
}

.slider-client__text {
    padding-left: 5px;
    padding-right: 5px;

    p {
        font-size: 14px;
        font-weight: 300;
    }
}


.slider-client__controls {
}

.button-next {
}

.button-back {
}

.slider-client__pagination {
}

.slider__btn {
}